<div class="row">
  <div class="column1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="column">


    <div class="mat-elevation-z8">

      <div class="filter">
        <button class="button-menu" (click)="abrirModalLixeira()">ADICIONAR LIXEIRA</button>


        <div style="margin-top: 12px;" >
         <mat-icon style="margin-top: 12px;" >filter_list</mat-icon> <mat-form-field class="example-full-width">
            <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar por código da lixeira" />
             </mat-form-field>
        </div>


        </div>
<div class="mat-elevation-z2">
  <div class="table-container">
    <table class="table-list custom-table" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="username">
        <th  mat-header-cell *matHeaderCellDef>Usuário</th>
        <td class="border-left" mat-cell *matCellDef="let user">{{ user.username }}</td>
      </ng-container>

      <ng-container matColumnDef="deviceId">
        <th mat-header-cell *matHeaderCellDef>ID Lixeira</th>
        <td mat-cell *matCellDef="let device">{{ device.deviceId }}</td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Localização</th>
        <td mat-cell *matCellDef="let device">{{ device.location }}</td>
      </ng-container>

      <ng-container matColumnDef="fillLevel">
        <th mat-header-cell *matHeaderCellDef>Nível da Lixeira</th>
        <td   mat-cell *matCellDef="let device">
          <div class="progress-bar-container">
            <div class="progress-bar" [style.width.%]="device.fillLevel" [ngStyle]="getProgressBarStyle(device.fillLevel)">
              <p>{{ device.fillLevel }}%</p>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="lastUpdate">
        <th mat-header-cell *matHeaderCellDef>Última Alteração</th>
        <td class="border-right" mat-cell *matCellDef="let device">{{device.lastUpdate}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [length]="totalElements" (page)="onPageChange($event)"></mat-paginator>
</div>
    </div>
  </div>
</div>
