.column {
  margin-top: 1%;
  float: left;
  width: 78%;
}

.column1 {
  float: left;
  width: 16%;
}

.teste{
  margin-left: 7px;
  width: 30%;
  height: 94px;
  background: #34020275;
  color: #fff;
}
.menu-grafico{
  display: flex;
}
p{
  color: #fff;
}

.title{
  color: #fff
}
.mensagen-div{
  display: flex;
  margin-top: 2%;

}
.mensagen{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.bem-vindo{
}


