/* modal-lixeira.component.css */
h2 {
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
}
