

<div id="menu">
  <div class="conteiner">
<h1>Termo de Uso dos Dados</h1>
<p>Eu, {{ data.nome }} {{ data.sobrenome }}, portador da matrícula {{ data.matricula }}, declaro que li, compreendi e concordo com os termos e condições estabelecidos neste documento, referentes ao tratamento dos meus dados pessoais pela biblioteca de componentes eletrônicos do laboratório de robótica da universidade.</p>
<h3>Parágrafo Segundo - Dados Pessoais</h3>
  <p>Eu autorizo o laboratório de robótica a coletar, armazenar e utilizar os seguintes dados pessoais:</p>
  <ul>
    <li>Nome completo</li>
    <li>Sobrenome</li>
    <li>Matrícula do aluno</li>
    <li>E-mail institucional</li>
    <li>Curso</li>
    <li>Data de nascimento</li>
    <li>Foto de perfil</li>
  </ul>

  <h3>Parágrafo Terceiro - Finalidade Do Tratamento</h3>
  <p>Os meus dados pessoais serão tratados exclusivamente para as seguintes finalidades:</p>
  <ul>
    <li>Cadastro no sistema da biblioteca de componentes eletrônicos</li>
    <li>Registro de tempo dedicado às atividades no laboratório de robótica</li>
    <li>Empréstimo de componentes eletrônicos</li>
    <li>Edição do perfil do usuário</li>
    <li>Monitoramento de atividades realizadas no laboratório de robótica</li>
  </ul>

  <h3>Parágrafo Quarto - Compartilhamento de Dados</h3>
  <p>Eu entendo que os meus dados pessoais serão acessíveis apenas para a equipe responsável pela administração da biblioteca de componentes eletrônicos do laboratório de robótica. Os dados não serão compartilhados com terceiros sem o meu consentimento expresso, exceto se exigido por lei ou por determinação judicial.</p>

  <h3>Parágrafo Quinto - Segurança dos Dados</h3>
  <p>O laboratório de robótica adotará todas as medidas necessárias para proteger os meus dados pessoais contra acesso não autorizado, perda, alteração ou destruição. Serão empregados métodos de segurança adequados para garantir a confidencialidade e integridade dos dados.</p>

  <h3>Parágrafo Sexto - Retenção dos Dados</h3>
  <p>Os meus dados pessoais serão retidos pelo período necessário para atingir as finalidades mencionadas acima, a menos que eu solicite a exclusão dos meus dados pessoais do sistema.</p>

  <h3>Parágrafo Sétimo - Direitos do Titular dos Dados</h3>
  <p>Como titular dos dados pessoais, tenho o direito de acessar, retificar ou limitar o processamento dos meus dados pessoais. Também tenho o direito de solicitar a portabilidade dos meus dados para outro serviço, quando aplicável. Para exercer esses direitos, devo entrar em contato com a equipe responsável pela administração da biblioteca de componentes eletrônicos.</p>

  <p>Eu afirmo que todas as informações fornecidas são verdadeiras, completas e atualizadas, e concordo em informar o laboratório de robótica sobre quaisquer alterações em meus dados pessoais.</p>

  <p class="assinatura">
   Aceita este termo o TITULAR concorda que a CONTROLADORA proceda com o tratamento de seus dados.<br>
  </p>
  <button  class="aceite" mat-button (click)="onConfirm()">Aceitar</button>
</div></div>

